﻿
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
Something went wrong. <br/>
You can find info about exception in log file with guid @ViewBag.Guid

<p>Return to <a asp-area="" asp-controller="Home" asp-action="Index">Home</a></p>