﻿@model IEnumerable<NorthWind.DAL.Entities.Categories>
@{
    ViewData["Title"] = "Category Page";
}

    <div class="text-center">
        <h1 class="display-4">Categories</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-3 category-table">Category</div>
                <div class="col-md-9 category-table">Description</div>
                @foreach (var category in Model)
                {
                    <div class="col-md-3 category-table">@category.CategoryName</div>
                    <div class="col-md-9 category-table">@category.Description</div>
                }
            </div>
        </div>
    </div>